/MeTesting$__clinit__closure1.class
/MeTesting.class
/MeTestingController.class
/MeTestingControllerTests.class
/MeTestingTests.class
/YouTest$__clinit__closure1.class
/YouTest.class
/YouTestTests.class
